* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
  overflow: hidden;
  position: relative;
  max-width: 600px;
}
.carrossel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carrossel img {
  width: 100%;
  border-radius: 10px;
}
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.preview {
  left: -5px;
}
.preview img {
  width: 30%;
  height: 30%;
}
.next {
  right: -8px;
}
.next img {
  width: 30%;
  height: 30%;
}
